.container{
    margin-left: 20%;
    margin-right: 20%;
}


.error-page{
    background-color:#1E1D5B;
    opacity:0.8;
    padding: 2vw ;
    border-radius: 25px;
   
}
.ffont{
 font-size: 2vw;
}

.ffont-btn{
    font-size: 1vw;
}

.btn{
    opacity: 1;
    background-color: #BE2517;
}

.body-color {
    background-color: lightblue; /* Set your desired background color here */
  }