.white-outlined-button {
    border-radius: 0 !important;
    border: 1px solid white !important;
    color: white !important;
    background-color: transparent !important;
}

.white-outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

.closeModalWindowButton {
    position: relative;
    top: 20px;
    right: -230px;
    width: 20px;
    cursor: pointer;
}

.marginResizable{
    margin-left: 3rem;
}

.contained-button,
.outlined-button {
    margin-top: 10px;
}

.contained-button {
    background-color: #1E1D5B !important;
    border-radius: 0 !important;
    color: white !important;
    border: 1px solid #1E1D5B !important;
}

.contained-button:hover {
    background-color: #E0812E !important;
    border-color: #E0812E !important;
}

.outlined-button {
    background-color: white !important;
    color: #1E1D5B !important;
    border-color: #1E1D5B !important;
    border-radius: 0 !important;
}

.outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

@media only screen and (max-width: 1100px)
{
    .marginResizable{
        margin-left: 2px;
        margin-right: 4px;
    }
}

.wider-toast {
    width: 400px;
  }