body {
    font-family: 'Sanchez', serif;
}


.closeModalWindowButton {
    position: relative;
    top: 20px;
    right: -230px;
    width: 20px;
    cursor: pointer;
}

.contained-button,
.outlined-button {
    margin-top: 10px;
}

.contained-button {
    background-color: #1E1D5B !important;
    border-radius: 0 !important;
    color: white !important;
}

.contained-button:hover {
    background-color: #E0812E !important;
}

.outlined-button {
    background-color: white !important;
    color: #1E1D5B !important;
    border-color: #1E1D5B !important;
    border-radius: 0 !important;
}

.outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

