.hover:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(215 50 56 / var(--tw-bg-opacity));
}


.marginResizable{
    margin-left: 3rem;
}

@media only screen and (max-width: 1100px) 
{
    .marginResizable{
        margin-left: 2px;
        margin-right: 4px;
    }
}