body {
    font-family: "Sanchez", serif;
  }
  
  .closeModalWindowButton {
    position: relative;
    top: 20px;
    right: -230px;
    width: 20px;
    cursor: pointer;
  }
  
  .save,
  .cancel {
    margin-top: 10px;
    margin-left: 5px;
  }
  
  .save {
    background-color: #1e1d5b;
  }
  
  .save:hover {
    background-color: #e0812e;
  }
  
  .cancel {
    background-color: white;
    color: #1e1d5b;
    border-color: #1e1d5b;
  }
  
  .cancel:hover {
    color: #e0812e;
    border-color: #e0812e;
  }
  
  .modal-content {
    margin-top: 9px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .modal-body {
    margin-bottom: 15px;
  }
  
  .fields-container {
    margin-bottom: 20px;
  }
  
  .field-group {
    margin-bottom: 20px;
  }
  
  .modal-content.wider-modal {
    width: 500px;
  }
  