.white-outlined-button {
    border-radius: 0 !important;
    border: 1px solid white !important;
    color: white !important;
    background-color: transparent !important;
}

.white-outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

.hover:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(215 50 56 / var(--tw-bg-opacity));
}

.marginResizable{
    margin-left: 3rem;
}

.contained-button,
.outlined-button {
    margin-top: 10px;
}

.contained-button {
    background-color: #1E1D5B !important;
    border-radius: 0 !important;
}

.contained-button:hover {
    background-color: #E0812E !important;
}

.outlined-button {
    background-color: white !important;
    color: #1E1D5B !important;
    border-color: #1E1D5B !important;
    border-radius: 0 !important;
}

.outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

@media only screen and (max-width: 1100px) 
{
    .marginResizable{
        margin-left: 2px;
        margin-right: 4px;
    }
}

.wider-toast {
    width: 400px; /* Adjust the width as needed */
  }