.outlined-button {
    background-color: white !important;
    color: #1E1D5B !important;
    border: 1px solid #1E1D5B !important;
    border-radius: 0 !important;
}

.outlined-button:hover {
    color: #E0812E !important;
    border-color: #E0812E !important;
}

.hover:hover{
    --tw-bg-opacity: 1;
    background-color: rgb(215 50 56 / var(--tw-bg-opacity));
}

.contained-button {
    background-color: #1E1D5B !important;
    border-radius: 0 !important;
}

.contained-button:hover {
    background-color: #E0812E !important;
}